name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test-game:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build
          npm link

      - name: Create template game
        run: |
          create-roblox-ts game -y --dir project
  test-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build
          npm link

      - name: Create template model
        run: |
          create-roblox-ts model -y --dir project
  test-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build
          npm link

      - name: Create template plugin
        run: |
          create-roblox-ts plugin -y --dir project
  test-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build
          npm link

      - name: Create template package
        run: |
          create-roblox-ts package -y --dir project
