name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        type: [game, place, model, plugin, package]
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build

      - name: Create template project
        run: node ./create-roblox-ts/out/index.js ${{ matrix.type }} -y --dir project
