name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [game, place, model, plugin, package]
        git: [true, false]
        eslint: [true, false]
        prettier: [true, false]
        vscode: [true, false]
        packageManager: [npm, yarn, pnpm]
    steps:
      - name: Checkout create-roblox-ts repo
        uses: actions/checkout@v4
        with:
          path: create-roblox-ts

      - uses: pnpm/action-setup@v2

      - name: Setup create-roblox-ts repo
        run: |
          cd create-roblox-ts
          npm install
          npm run build

      - name: Create template project
        run: node ./create-roblox-ts/out/index.js ${{ matrix.type }} -y --dir project
